name: Test and Build

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest
    env:
      CI: true
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node and install dependencies
        uses: ./.github/actions/setup-node
        with:
          node-version: "22.14.0"

      - name: Run unit tests
        run: npm test

  build:
    name: Build Production
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node and install dependencies
        uses: ./.github/actions/setup-node
        with:
          node-version: "22.14.0"

      - name: Build production
        run: npm run build
